 html {
 	height: 100%;
 }
 
 body {
 	height: 100%;
 	margin: 0;
 	padding: 0;
 }
 

 #map-canvas {
 	height: 80%;
 	width: 100%;
 	margin: 0 auto;
 }

 #locations {
 	width: 100%;
 	height: 20%;
 }

 .location {
 	padding: 10px;
 	height: 100%;
 	width: auto;
 	float: left;
 	position: relative;
 	display: block;
 }